* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "metropolis";
  src: url("assets/fonts/Metropolis-Regular.otf") format(truetype);
}
.container {
  max-width: 1398px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-family: "metropolis";
  font-size: 57px;
  color: #010101;
  font-weight: 900;
  line-height: 1.19;
}
h2 {
  font-family: "metropolis";
  font-size: 36px;
  color: #343434;
  font-weight: 900;
  line-height: 1.19;
}
h3 {
  font-family: "metropolis";
  font-size: 22px;
  color: #363940;
  font-weight: 900;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col20 {
  max-width: 20%;
  flex: 0 0 20%;
  padding: 0 15px;
}
.col25 {
  max-width: 25%;
  flex: 0 0 25%;
  padding: 0 15px;
}
.col40 {
  max-width: 40%;
  flex: 0 0 40%;
  padding: 0 15px;
}
.col60 {
  max-width: 60%;
  flex: 0 0 60%;
  padding: 0 15px;
}
.brand {
  max-width: 175px;
  display: block;
}
.navlinks a {
  color: #010101;
  font-family: "metropolis";
  font-size: 12px;
  font-weight: 600;
  line-height: 1.6;
  text-transform: uppercase;
}
.navlinks {
  display: flex;
}
.navlinks li {
  margin-left: 41px;
}
.navbtn i {
  color: #ed017f;
}

.navlinks a:hover {
  color: #c4006b;
}
.cmn-btn {
  padding: 17px 30px;
  color: #fff;
  background: #ed017f;
  font-family: "metropolis";
  font-size: 12px;
  font-weight: 600;
  line-height: 1.6;
  text-transform: uppercase;
  border-radius: 8px;
  margin-left: 27px;
}
.headerbtn i {
  color: #ed017f;
}

.cmn-btn:hover {
  background: #af0859;
}
.herosection {
  margin-top: 40px;
}
.left-part {
  margin-top: 108px;
}

.left-part h1 {
  max-width: 435px;
  display: block;
  margin-bottom: 29px;
}
.left-part p {
  color: #676767;
  margin-bottom: 38px;
  font-size: 16px;
  font-family: "metropolis";
  color: #676767;
  font-weight: 600;
  max-width: 400px;
  height: 44px;
  font-weight: 600;
  line-height: 1.6;
}
.primary-btn {
  display: inline-block;
  background: #ed017f;
  color: #fff;
  padding: 14px 32px;
  border-radius: 6px;
  text-decoration: none;
  font-family: "metropolis";
  font-size: 12px;
  font-weight: 600;
  line-height: 1.6;
  margin-right: 20px;
}
.primary-btn:hover {
  background:transparent;
  color:  #ed017f;
  border: 2px solid #ed017f;
  font-size: 12px;
  padding: 12px 30px;
}
.outline-btn {
  display: inline-block;
  border: 2px solid #ed017f;
  color: #ed017f;
  padding: 12px 30px;
  border-radius: 6px;
  text-decoration: none;
  font-family: "metropolis";
  font-size: 12px;
  font-weight: 600;
  line-height: 1.6;
}
.outline-btn:hover {
  background: #ed017f;
  color: #fff;
}
.banner-social {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.phone {
  position: relative;
  padding-right: 20px;
  margin-right: 20px;
}

.phone a {
  display: flex;
  align-items: center;
  font-family: "metropolis";
  font-size: 17px;
  font-weight: 700;
  color: #010101;
}
.phone a:hover{
  color: #ed017f 
}

.phone img {
  max-width: 24px;
  margin-right: 11px;
}

/* Vertical Divider */
.phone::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 35px;
  background: #cccccc;
}

/*Social-Media Icons*/

.social-media {
  display: flex;
  align-items: center;
}
.social-media li {
  margin-right: 16px;
}

.social-media a {
  font-size: 24px;
}
.facebook {
  color: #4b7fcd;
}
.youtube {
  color: #ff0000;
}
.linkedin {
  color: #4a71fb;
}
.instagram {
  color: #ed017f;
}
.right-part {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
/* FLOATING PILLS */
.pop {
  position: absolute;
  background: #fff;
  padding: 24px 32px;
  border-radius: 50px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "metropolis";
  font-size: 18px;
  color: #343434;
  font-weight: 600;
}
.car {
  top: 10px;
  left: 50px;
}
.home {
  top: 107px;
  right: 0;
}


/* experiance  */

.Customer .container{
  align-items: center;
  text-align: start;
}

.experience-head {
  margin-top: 90px;
  text-align: center;
  margin-bottom: 102px;
}

.experience-head h2 {
  margin-bottom: 18px;
}

.experience-head p {
  font-family: "metropolis";
  font-size: 16px;
  color: #999;
  font-weight: 600;
  max-width: 620px;
  margin: 0 auto;
  line-height: 1.6;
  margin-bottom: 25px;
}
/* ICON */

.experience figure {
  margin-bottom: 18px;
}

.experience figure img {
  width: 37px;
}

/* TITLE   */
.experience h3 {
  margin-bottom: 10px;
}
/* PARAGRAPH  */

.experience .integrity p,
.experience .demonstrate p,
.experience .diversity p,
.experience .teamwork p,
.experience .collaboration p,
.experience .technology p,
.experience .corporate p,
.experience .digital p {
  font-family: "metropolis";
  font-size: 14px;
  color: #999999;
  line-height: 1.6;
  font-weight: 600;
}
.experience .col25 p {
  max-width: 180px;
  width: 100%;
}
.col25 > div:first-child {
  margin-bottom: 40px;
}

/* ======================
   SERVICE SECTION
====================== */

.service {
  margin-top: 102px;
  padding: 70px 0;
  background: #fef9fc;
}
/* Title */
.service_title {
  text-align: center;
  margin-bottom: 60px;
}

.service_title h2 {
  margin-bottom: 15px;
}

.service_title p {
  font-family: "metropolis";
  max-width: 791px;
  margin: 0 auto;
  color: #999999;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}
/* 4 Cards Layout */
.service .row {
  display: flex;
  gap: 30px;
}

/* Each column */
.service .col25 {
  flex: 1;
}
/* Card */
.serv-card1,
.serv-card2,
.serv-card3,
.serv-card4 {
  position: relative;
}
/* Image */
.serv-card1 figure,
.serv-card2 figure,
.serv-card3 figure,
.serv-card4 figure {
  margin: 0;
  border-radius: 15px;
  overflow: hidden;
}

.serv-card1 img,
.serv-card2 img,
.serv-card3 img,
.serv-card4 img {
  width: 100%;
  display: block;
}
/* Text + Arrow same line */
.serv-card1 h3,
.serv-card2 h3,
.serv-card3 h3,
.serv-card4 h3 {
  margin-top: 20px;
  max-width: 195px;
}
.serv-card2 h3 {
  max-width: 160px;
}
.serv-card4 h3 {
  max-width: 116px;
}
/* Hover Effect */
.serv-card1:hover img,
.serv-card2:hover img,
.serv-card3:hover img,
.serv-card4:hover img {
  transform: scale(1.08);
  /* zoom effect */
}
.arrow-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 38px;
  height: 38px;
  background: #f9c5d5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff007a;
  text-decoration: none;
  transition: 0.3s;
}
.serv-card2 .arrow-btn {
  right: 0;
  bottom: 0;
  margin-top: 40px;
}
.arrow-btn:hover {
  background: #ff007a;
  color: #fff;
}
/* Result */
.result_title {
  margin-top: 100px;
  text-align: center;
}
.result_title h2 {
  margin-bottom: 20px;
}
.result_title p {
  font-family: "metropolis";
  font-size: 16px;
  color: #999999;
  max-width: 520px;
  margin: 0 auto;
  line-height: 1.4;
}
.result_items {
  margin-top: 91px;
}
.number {
  margin-bottom: 12px;
  font-family: "metropolis";
  color: #343434;
  font-size: 40px;
  font-weight: 900;
}

.highlight {
  color: #ed017f;
}
.label {
  font-family: "metropolis";
  font-size: 16px;
  max-width: 172px;
  color: #676767;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* footer */
.footer {
  margin-top: 181px;
}
.footer_heading {
  font-size: 18px;
  font-family: "metropolis";
  color: #010101;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.footer_content p {
  font-size: 14px;
  font-family: "metropolis";
  color: #676767;
  font-weight: 600;
  /* margin-bottom: 20px; */
  max-width: 180px;
}
.Products li {
  margin-top: 10px;
  font-family: "metropolis";
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
}
.Products a {
  color: #676767;
}
.Products a:hover {
  color: #ed017f;
}
.getstart li {
  margin-top: 10px;
  font-family: "metropolis";
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  color: #676767;
}
.getstart a {
  color: #676767;
}
.getstart a:hover {
  color: #ed017f;
}
.footer_phone a{
  font-family: "metropolis";
  font-weight: 600;
  line-height: 1.5;
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 11px;
  color: #010101;
  font-size: 17px;
}
.footer_phone a:hover{
color: #ed017f  
}

.footer_social_link {
  display: flex ;
  /* justify-content: space-between; */
  /* align-items: center; */


}

.footer_social_link a{
  padding: 20, 5px;
  margin-top: 10px;
}
.footer_content p{
  margin-bottom: 20px;
}